doctype html
html(lang="en")
   head
      block title
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      if process.env.NODE_ENV == 'production'
         link(rel="stylesheet", href="/dist/css/bundle.min.css")
      else
         link(rel="stylesheet", href="/css/normalize.css")
         link(rel="stylesheet", href="/css/main.css")
         link(rel="stylesheet", href="/css/subs.css")

      link(rel="stylesheet", href="/iconfont/css/svisitfont.css")
      link(href="http://fonts.googleapis.com/css?family=Open+Sans:400", rel='stylesheet', type='text/css')
      link(href="http://fonts.googleapis.com/css?family=Arvo:700", rel='stylesheet', type='text/css')

   body
      block template

      //script(src="/bower_components/jquery/jquery.js")
      script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
      script(src="/bower_components/angular/angular.js")
      script(src="/bower_components/angular-animate/angular-animate.js")
      script(src="/bower_components/angular-route/angular-route.js")
      script(src="/bower_components/angular-resource/angular-resource.js")
      script(src="/app/directives.js")
      script(src="/app/controllers.js")
      script(src="/app/app.js")





