body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  overflow-y: scroll;
}
input,
textarea,
select,
a {
  outline: none;
}
a {
  text-decoration: none;
}
.visible {
  opacity: 1 !important;
}
#grid-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
  min-height: 550px;
}
#grid-wrapper #grid {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: #000;
  overflow: auto;
}
#grid-wrapper #grid .row {
  width: 100%;
  height: auto;
  overflow: auto;
}
#grid-wrapper #grid .grid-item {
  position: relative;
  width: 20%;
  height: 270px;
  float: left;
  background-position: center;
  background-size: cover;
  opacity: 0.55;
}
#grid-wrapper #grid .large {
  width: 40%;
}
.green {
  background-color: #00d0c1;
}
.yellow {
  background-color: #ffbf0d;
}
.red {
  background-color: #f55;
}
a.btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 35px;
  padding: 0.8em 1.5em 0.7em 1.5em;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#top-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: rgba(0,0,0,0.3);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}
#top-fade a.btn {
  border: 1px solid #fff;
}
#top-fade .left {
  float: left;
}
#top-fade .right {
  position: relative;
  float: right;
  margin-left: 10px;
}
#top-fade a.btn:hover {
  background-color: #f55;
  border: 1px solid #f55;
}
#top-fade a.btn.right.menu {
  display: none;
}
#options {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  top: 180px;
  background-color: #ededed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px;
  z-index: 98;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  text-align: center;
}
#options p {
  color: #8a8a8a;
  margin-top: 14px;
}
#options p.cities {
  right: 30px;
}
#options a.btn {
  padding: 5px 12px 6px 12px;
  background-color: #00d0c1;
  margin-right: 5px;
  text-transform: none;
  font-size: 14px;
}
#options a.btn:first-of-type {
  margin-left: 10px;
}
#options a.btn.subscribe {
  background-color: #f55;
}
#search {
  position: absolute;
  width: 100%;
  height: 85px;
  left: 0;
  top: 95px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  z-index: 99;
}
#search a.logo {
  display: block;
  width: 120px;
  height: 40px;
  margin-top: 13px;
  margin-left: 30px;
  background-image: url("/img/logo.png");
  background-size: 120px 40px;
}
#search a.btn {
  background-color: #f55;
  border: none;
  float: right;
  margin-right: 30px;
  margin-top: 25px;
}
#search form {
  width: auto;
  height: auto;
  margin-left: 200px;
  margin-top: -20px;
}
#search form i {
  color: #f55;
}
#search form input {
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 25px;
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
  display: block;
  margin-top: -16px;
  background-color: transparent;
}
#search form .query,
#search form .location {
  display: inline-block;
}
#search form .query {
  margin-right: 30px;
  width: 55%;
}
#search form .location {
  width: 25%;
}
#search form .location > input {
  color: #f55;
  padding-right: 20px;
}
#search form .icon-angle-down {
  margin-top: -18px;
  float: right;
}
p.teaser {
  display: block;
  position: absolute;
  font-family: 'Arvo' serif;
  font-size: 60px;
  width: 60%;
  top: 33%;
  left: 25%;
  color: #fff;
  z-index: 1;
}
p.teaser a {
  color: #f55;
  text-decoration: underline;
  cursor: pointer;
}
p.teaser a:hover {
  text-decoration: none;
}
#categories {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}
.category,
.show {
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}
/*.show.ng-hide 
  -webkit-transition-delay .4s
  transition-delay .4s*/
.show.ng-hide > .category {
  opacity: 0;
}
#categories .category {
  position: relative;
  float: left;
  width: 25%;
  height: 34%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 10px solid transparent;
  cursor: pointer;
  overflow: hidden;
}
#categories .category:hover {
  border: 10px solid #fff;
}
#categories .category:hover p {
  color: #fff;
}
#categories .category p {
  font-family: 'Arvo' serif;
  color: rgba(255,255,255,0.8);
  font-size: 36px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  margin: 0;
}
#categories .category.empty {
  cursor: auto;
}
#categories .category.empty:hover {
  border: 10px solid transparent;
}
#categories .category i {
  position: absolute;
  font-size: 200px;
  left: 50%;
  margin-left: -140px;
  top: 50%;
  margin-top: -140px;
  color: rgba(255,255,255,0.3);
}
#categories .category:hover i {
  color: rgba(255,255,255,0.5);
}
#categories a.btn.close {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #000;
}
#categories a.btn.close:hover {
  background-color: #fff;
  color: #000;
}
@media screen and (max-width: 1024px) {
  #options {
    text-align: center;
    height: auto;
  }
  #options p {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    line-height: 35px;
  }
  #options p.cities {
    right: auto;
  }
  #search form .query,
  #search form .location {
    width: 35%;
  }
  #search form .query {
    margin-right: 10px;
  }
  #search form {
    margin-left: 170px;
  }
  p.teaser {
    font-size: 48px;
    text-align: center;
    width: 80%;
    left: 10%;
    top: 290px;
  }
  #categories {
    overflow: visible;
  }
}
@media screen and (max-width: 800px) {
  p.teaser {
    font-size: 36px;
    width: 80%;
    left: 10%;
  }
  #categories .category {
    width: 50%;
    height: 50%;
  }
}
@media screen and (max-width: 720px) {
  #top-fade {
    padding: 15px 10px;
  }
  #options {
    top: 150px;
  }
  #search {
    top: 65px;
  }
  #search form {
    margin-left: 145px;
  }
  #search a.logo {
    margin-left: 10px;
  }
  #search a.btn {
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  #options {
    top: 250px;
  }
  #search {
    height: 185px;
    background-color: rgba(255,255,255,0.9);
  }
  #search a.logo {
    margin-top: 20px;
  }
  #search a.btn {
    position: absolute;
    margin-top: 130px;
    width: 96%;
    margin-left: 2%;
    text-align: center;
  }
  #search form {
    width: 96%;
    margin-left: 2%;
    margin-top: 25px;
  }
  #search form .query,
  #search form .location {
    width: 48%;
  }
  p.teaser {
    font-size: 20px;
    top: 430px;
  }
  #categories .category {
    width: 50%;
    height: 50%;
  }
}
@media screen and (max-width: 480px) {
  #top-fade a.btn.right {
    display: none;
  }
  #top-fade a.btn.right.menu {
    display: block;
  }
  #top-fade a.btn .btn-text {
    display: none;
  }
  p.teaser {
    width: 90%;
    left: 5%;
  }
  #categories .category p {
    left: 10px;
    bottom: 10px;
    font-size: 24px;
  }
}
@media screen and (max-width: 400px) {
  #search form .query,
  #search form .location {
    width: 100%;
    margin-bottom: 30px;
  }
  #search a.btn {
    margin-top: 180px;
  }
  #search {
    height: 230px;
  }
  #options {
    top: 295px;
  }
  #categories .category {
    width: 100%;
  }
}
/*== Retina Queries ==*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #search a.logo {
    background-image: url("/img/logo@2x.png") !important;
  }
}
