::-webkit-input-placeholder {
/* WebKit browsers */
  color: rgba(255,255,255,0.5);
}
:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  color: rgba(255,255,255,0.5);
  opacity: 1;
}
::-moz-placeholder {
/* Mozilla Firefox 19+ */
  color: rgba(255,255,255,0.5);
  opacity: 1;
}
:-ms-input-placeholder {
/* Internet Explorer 10+ */
  color: rgba(255,255,255,0.5);
}
#subs-fade {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255,85,85,0.85);
  opacity: 0;
  -webkit-transition: 0.3s 0;
  transition: 0.3s 0;
}
a.circle {
  display: block;
  width: 41px;
  height: 41px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #fff;
  padding-top: 9px;
  -webkit-transition: 0.2s 0;
  transition: 0.2s 0;
  cursor: pointer;
}
a.circle i {
  font-size: 1em;
  color: #fff;
}
a.circle:hover {
  background-color: #fff;
}
a.circle:hover i {
  color: #f55;
}
#subs {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 60px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.3s 0;
  transition: 0.3s 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#subs a.circle.close {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#subs h1 {
  margin: 5px 0;
  display: block;
  font-family: 'Arvo' serif;
  font-size: 60px !important;
  color: #fff;
}
#subs input.adaptive {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.3em;
  font-size: 10em;
  -webkit-transition: 0.3s 0;
  transition: 0.3s 0;
  color: #fff;
  text-align: center;
}
#subs p {
  font-size: 1em;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
#subs .select,
#subs a.btn {
  display: block;
  width: 500px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#subs .select {
  margin-top: 3em;
  background-color: #ff9090;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 1em;
}
#subs .select input {
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 12px;
  background-color: transparent;
  width: 100%;
  padding: 2em 2.5em;
}
#subs .select .left,
#subs .select .right {
  margin-top: -3em;
}
#subs .select .left {
  float: left;
}
#subs .select .right {
  float: right;
}
#subs .select i,
#subs .select input {
  color: #fff;
}
#subs a.btn {
  margin-top: 1em;
  background-color: #fff;
  padding: 2.5em 0;
  color: #f55;
}
@media screen and (max-width: 1024px) {
  #subs form input.adaptive {
    font-size: 5em;
    padding: 0.4em;
  }
}
@media screen and (max-width: 800px) {
  #subs {
    margin-top: 80px;
  }
  #subs h1 {
    font-size: 30px !important;
  }
}
@media screen and (max-height: 600px) and (max-width: 800px) {
  #subs form input.adaptive {
    font-size: 3em;
    padding: 0.7em;
  }
}
@media screen and (max-height: 480px) and (min-width: 720px) {
  #subs form input.adaptive {
    font-size: 3em;
    padding: 0.7em;
  }
}
@media screen and (max-width: 600px) {
  #subs form input.adaptive {
    font-size: 2.5em;
    padding: 0.4em;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #subs .select,
  #subs a.btn {
    width: 95%;
    height: 50px;
  }
  #subs .select {
    padding-top: 0.6em;
  }
  #subs .select input {
    padding-top: 1em;
  }
  #subs a.btn {
    padding-top: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  #subs h1 {
    margin-top: 20px;
  }
  #subs a.circle.close {
    margin-top: -65px;
  }
}
@media screen and (max-height: 480px) {
  #subs form input.adaptive {
    font-size: 1.5em;
    padding: 0.4em;
  }
  #subs h1 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 320px) {
  #subs form input.adaptive {
    font-size: 1.5em;
    padding: 0.4em;
  }
}
