
.icon-angle-down:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-scissors:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-location-1:before { content: '\e807'; } /* '' */
.icon-search-2:before { content: '\e808'; } /* '' */
.icon-th-large-1:before { content: '\e809'; } /* '' */
.icon-fast-food:before { content: '\e80a'; } /* '' */
.icon-fire-station:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */