@font-face {
  font-family: 'svisitfont';
  src: url('../font/svisitfont.eot?21296715');
  src: url('../font/svisitfont.eot?21296715#iefix') format('embedded-opentype'),
       url('../font/svisitfont.woff?21296715') format('woff'),
       url('../font/svisitfont.ttf?21296715') format('truetype'),
       url('../font/svisitfont.svg?21296715#svisitfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'svisitfont';
    src: url('../font/svisitfont.svg?21296715#svisitfont') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "svisitfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-angle-down:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-scissors:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-location-1:before { content: '\e807'; } /* '' */
.icon-search-2:before { content: '\e808'; } /* '' */
.icon-th-large-1:before { content: '\e809'; } /* '' */
.icon-fast-food:before { content: '\e80a'; } /* '' */
.icon-fire-station:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */