
<div id="grid-wrapper">
  <div id="grid">
    <div cells="" class="row">
      <div style="background-image: url('/img/covers/13.jpg')" class="grid-item large green"></div>
      <div class="grid-item red"></div>
      <div style="background-image: url('/img/covers/12.jpg')" class="grid-item green"></div>
      <div class="grid-item yellow"></div>
    </div>
    <div cells="" class="row">
      <div style="background-image: url('/img/covers/11.jpg')" class="grid-item red"></div>
      <div class="grid-item green"></div>
      <div style="background-image: url('/img/covers/9.jpg')" class="grid-item large yellow"></div>
      <div style="background-image: url('/img/covers/10.jpg')" class="grid-item green"></div>
    </div>
    <div cells="" class="row">
      <div class="grid-item yellow"></div>
      <div style="background-image: url('/img/covers/1.jpg')" class="grid-item large red"></div>
      <div class="grid-item yellow"></div>
      <div class="grid-item red"></div>
    </div>
    <div cells="" class="row">
      <div style="background-image: url('/img/covers/2.jpg')" class="grid-item green"></div>
      <div class="grid-item red"></div>
      <div style="background-image: url('/img/covers/8.jpg')" class="grid-item red"></div>
      <div style="background-image: url('/img/covers/3.jpg')" class="grid-item green"></div>
      <div class="grid-item yellow"></div>
    </div>
    <div cells="" class="row">
      <div style="background-image: url('/img/covers/4.jpg')" class="grid-item large green"></div>
      <div class="grid-item red"></div>
      <div style="background-image: url('/img/covers/7.jpg')" class="grid-item green"></div>
      <div class="grid-item yellow"></div>
    </div>
    <div cells="" class="row">
      <div class="grid-item red"></div>
      <div style="background-image: url('/img/covers/6.jpg')" class="grid-item green"></div>
      <div style="background-image: url('/img/covers/5.jpg')" class="grid-item large yellow"></div>
      <div style="background-image: url('/img/covers/14.jpg')" class="grid-item green"></div>
    </div>
  </div>
  <div id="subs-fade" ng-class="{'visible': page.subscribe}"></div>
  <div id="top-fade"><a href="#" ng-hide="page.categories" ng-click="toggleCategories()" class="btn left"><i class='icon-th-large-1'></i> <span class='btn-text'>Categories</span></a><a href="#" class="btn right menu"><i class='icon-menu'></i></a><a href="#" class="btn right">Login</a><a href="#" class="btn right">For business owners</a><a href="#" class="btn right">En <i class='icon-angle-down'></i></a></div>
  <div id="options" ng-hide="page.subscribe">
    <!--   
    p.
       We are not available in Hamburg yet.
       <a href='#' class='btn subscribe'>Subscribe</a>
       to be notified about launch
    -->
    <p>
      We are not available in Hamburg yet. How about:
      <a href='#' class='btn'>Berlin</a>
      <a href='#' class='btn'>Munich</a>
      <a href='#' class='btn'>Frankfurt</a>
      
    </p>
  </div>
  <div id="search" ng-hide="page.subscribe"><a href="#" class="btn">Search</a><a class="logo"></a>
    <form>
      <div class="query"><i class="icon-search-1"></i>
        <input type="text" autofocus="autofocus"/>
      </div>
      <div class="location"><i class="icon-location-1"></i>
        <input type="text" value="Hamburg"/>
        <!--TODO--><i class="icon-angle-down"></i>
      </div>
    </form>
  </div>
  <p ng-hide="page.subscribe" class="teaser">Thousands services<br>in hundreds beauty salons.<br><a ng-click='toggleSubs()'>Get notification</a> when we launch in Hamburg.
  </p>
</div>
<div id="categories" ng-show="page.categories" class="show">
  <div category="" class="category yellow"><i class="icon-scissors"></i>
    <p>Hair</p>
  </div>
  <div category="" class="category red"><i class="icon-fast-food"></i>
    <p>Care</p>
  </div>
  <div category="" class="category green">
    <p>Color</p>
  </div>
  <div category="" class="category green">
    <p>Health</p>
  </div>
  <div category="" class="category green">
    <p>Massage</p>
  </div>
  <div category="" class="category red">
    <p>Style</p>
  </div>
  <div category="" class="category yellow"><i class="icon-heart"></i>
    <p>Popular</p>
  </div>
  <div category="" class="category red"><i class="icon-fire-station"></i>
    <p>Hot deals</p>
  </div>
  <div category="" class="category yellow">
    <p>Skin</p>
  </div>
  <div category="" class="category red">
    <p>Face</p>
  </div>
  <div category="" class="category yellow">
    <p>Hands</p>
  </div>
  <div category="" class="category yellow empty"></div><a href="#" ng-hide="!page.categories" ng-click="toggleCategories()" class="btn close"><i class='icon-cancel'></i><span class='btn-text'> Close</span></a>
</div>
<div id="subs" ng-class="{'visible': page.subscribe}"><a ng-click="toggleSubs()" class="circle close"><i class="icon-cancel"></i></a>
  <h1>Subscribe</h1>
  <p>We will send you an invite as soon as Stylevisit launches in your city:</p>
  <form>
    <input adaptive-input="" type="text" ng-model="subs.email" placeholder="your email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" class="adaptive"/>
    <div class="select">
      <input type="text" value="Hamburg"/><i class="left icon-location-1"></i><i class="right icon-angle-down"></i>
    </div><a href="#" class="btn">Save</a>
  </form>
</div>