//--------***---------
yellow = #ffbf0d
red = #ff5555
green = #00D0C1

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

box-sizing(n)
  -webkit-box-sizing n
  -moz-box-sizing n
  box-sizing n

transition(n, d=0)
 	-webkit-transition n d
 	transition n d

::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255,255,255,.5);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(255,255,255,.5);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(255,255,255,.5);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(255,255,255,.5);
}
//--------***---------

#subs-fade
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	bottom 0
	background-color rgba(255,85,85,.85)
	opacity 0
	transition(.3s, 0)


a.circle 
	display block
	width 41px
	height 41px
	border-radius(30px)
	border 1px solid #ffffff
	padding-top 9px
	transition(.2s)
	cursor pointer

	i
		font-size 1em
		color #fff

a.circle:hover
	background-color #fff

	i
		color red 

#subs
	position absolute
	width 100%
	height auto
	margin-top 60px
	text-align center
	opacity 0
	transition(.3s)
	box-sizing(border-box)
	
	a.circle.close
		margin-top 0
		margin-left auto
		margin-right auto
		text-align center
		box-sizing(border-box)


	h1
		margin 5px 0
		display block
		font-family 'Arvo' serif
		font-size 60px !important
		color #ffffff

	input.adaptive 
		width 100%
		background-color transparent
		border none
		border-bottom 1px solid rgba(255,255,255,.5)
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		padding 0.3em
		font-size 10em
		transition 0.3s
		color #fff
		text-align center

	input.adaptive.ng-invalid 
  		//border 0
		//border-bottom 1px solid #fff

	p
		font-size 1em
		color #fff
		box-sizing(border-box)
		padding 0 10px

	.select, a.btn 
		display block
		width 500px
		height 70px
		margin-left auto
		margin-right auto
		border-radius(5px)

	.select
		margin-top 3em
		background-color #ff9090
		box-sizing(border-box)
		padding .5em 1em
		
		input
			border none
			box-sizing(border-box)
			text-transform uppercase
			font-size 12px
			background-color transparent
			width 100%
			padding 2em 2.5em

		.left, .right 
			margin-top -3em

		.left 
			float left

		.right 
			float right
		
		i, input 
			color #fff

	a.btn 
		margin-top 1em
		background-color #fff
		padding 2.5em 0
		color red


@media screen and (max-width: 1024px) {
  #subs form input.adaptive {
    font-size: 5em;
    padding: 0.4em;
  }
}
@media screen and (max-width: 800px) {
 #subs {
 	margin-top: 80px;
 }

 #subs h1 {
 	font-size: 30px !important;
 }
}
@media screen and (max-height: 600px) and (max-width: 800px) {
  #subs form input.adaptive {
    font-size: 3em;
    padding: 0.7em;
  }
}
@media screen and (max-height: 480px) and (min-width: 720px) {
  #subs form input.adaptive {
    font-size: 3em;
    padding: 0.7em;
  }
}
@media screen and (max-width: 600px) {
  #subs form input.adaptive {
    font-size: 2.5em;
    padding: 0.4em;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  #subs .select, #subs a.btn {
  	width: 95%;
  	height: 50px;
  }

  #subs .select {
  	padding-top: .6em;
  }

  #subs .select input {
  	padding-top: 1em;
  }

  #subs a.btn {
  	padding-top: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  #subs h1 {
 	//font-size: 20px !important;
 	margin-top: 20px;
 }
 #subs a.circle.close {
  	margin-top: -65px;
  }
}

@media screen and (max-height: 480px) {
  #subs form input.adaptive {
    font-size: 1.5em;
    padding: 0.4em;
  }
  #subs h1 {
 	font-size: 20px !important;
 }
}
@media screen and (max-width: 320px) {
  #subs form input.adaptive {
    font-size: 1.5em;
    padding: 0.4em;
  }
}
